<div class="loading-part animated-quick">
	<div class="loader-part opacity-0 animated-quick">
		<div class="loader-circle"></div>
		<div class="loader-text">Black Men's Health Study</div>
	</div>
</div>

<button class="open-menu-mobile">
	<i class="icon ion-navicon-round opening-menu"></i>
	<i class="icon ion-close-round closing-menu display-none"></i>
</button>

<div id="navigation" class="">
	<div class="overlay overlay-dark"></div>
	<div class="item-title hidden-xs hidden-sm">

		<img src="img/logos/white/Black-Men's-Health-Survey-White-Text.png" height="250" class="img-rounded"/>
		<br/>
		<br/>

		<!-- Nav tabs -->
	  <ul class="inline gf_oswald upper" role="tablist">
	    <li role="presentation" class="active">
	    	<%= link_to "Home", root_path %>
	    </li>
	    <li role="presentation">
	    	<%= link_to "About", about_path %>
	    </li>
	    <li role="presentation">
	    	<%= link_to "Stories", stories_path %>
	    </li>
	    <li role="presentation">
	    	<%= link_to "Partners", partners_path %>
	    </li>
	    <li role="presentation">
	    	<%= link_to "Share", share_with_us_path %>
	    </li>
	  </ul>
	  <!-- Tab panes -->
	  <!-- <a class="btn nav-link-close btn-color btn-sm">CLOSE DEMO</a> -->
	  <a href="/surveys" class="btn open-content btn-light btn-sm about-content">Take the Survey</a>
	  <br/>

	  <br/>
	  <br/>

	  <ul class="gf_oswald upper inline" role="tablist">
      <li>
        <%= link_to main_share_twitter_link do %>
          <img src="img/icons/twitter.png" style="height: 50px; margin-right: 10px;">
        <% end %>
      </li>

      <li>
        <%= link_to main_share_fb_link do %>
          <img src="img/icons/facebook.png" style="height: 50px; margin-right: 10px;">
        <% end %>
      </li>
	    
	    <li>
	    	<a href="https://www.youtube.com/channel/UCzeUzAe9h-wZoo37rEtk2oA">
	    		<img src="img/icons/youtube.png" style="height: 50px; margin-right: 10px;">
	    	</a>
	    </li>

	    <li>
	    	<a href="https://www.instagram.com/bmhealthsurvey/">
	    		<img src="img/icons/instagram.png" style="height: 50px;">
	    	</a>
	    </li>
	  </ul>
	  <!-- Tab panes -->


	  <br/>
	  <br/>
	  <br/>


	  <div class="legal-text">
	  	<a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">
    	Contact Us
    	</a>
	  	<p>Privacy Policy and Terms of Use</p>
	  	<p>Copyright Compliance Policy</p>
	  	<p>User Content Submission Agreement</p>
	  	<p>Contact</p>
	  <!-- Tab panes -->
	</div>

</div>

	<ul class="hidden-lg main-navigation">

		<li>
			<%= link_to root_path do %>
				<i class="icon ion-ios-home-outline"></i>
				Home
			<% end %>
		</li>

		<li>
			<%= link_to about_path do %>
				<i class="icon ion-ios-people-outline"></i>
				About
			<% end %>
		</li>

		<li>
			<%= link_to stories_path do %>
				<i class="icon ion-ios-world-outline"></i>
				Stories
			<% end %>
		</li>

		<li>
			<%= link_to partners_path do %>
				<i class="icon ion-ios-chatbubble-outline"></i>
				Partners
			<% end %>
		</li>

		<li>
			<%= link_to contact_path do %>
				<i class="icon ion-ios-chatbubble-outline"></i>
				Contact
			<% end %>
		</li>

	</ul> <!-- CLOSE Main nav -->



</div> <!-- CLOSE #navigation -->
