<div id="main-about" style="background: url(img/stock/7.jpg); background-size: cover;">>

	<div class="item-title" style="padding: 23%;">

		<h1 class="cd-headline letters" style="font-size: 110px; line-height: 110px;">
			RISE <br/>WITH US.
		</h1>
		<div class="hidden-xs" style="font-size: 18px; whitespace: wrap; margin-top: 20px; line-height: 26px; font-weight: normal; text-align: center !important; color: white; text-shadow: 1px -1px 0 #555;">
			For the first time in history, a medical study will focus on a demographic previously ignored. One whose health history was inconclusive and whose future has been unpredictable. Is your organization ready to rise to the challenge?
			<br/>
		</div>
	</div>
</div>

<div class="inner-content" id="about-content">

	<h2 class="text-center text-center ">Partner Leader Board</h2>

	<hr/>
	<p class="lead text-center">The following partners are driving change by helping others take ownership of their health. The following four companies have driven the most participants to register and complete the Survey!
	</p>
	<hr/>
	<br/>

	<div class="row">
        <% User.group_count.first(2).each do |partner| %>
		<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
			<div class="center">
				<img src="<%= User.partner_photo[partner.first] %>" class="img-circle img-responsive" />
			</div>
			<h1><%= partner.last %></h1>
			<p class="m-b-20">
				Participants 
			</p>
			<br/>
			<br/>
		</div>
        <% end %>
	</div>

	<div class="row">
        <% User.group_count.drop(2).first(2).each do |partner| %>
		<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
			<div class="center">
				<img src="<%= User.partner_photo[partner.first] %>" class="img-circle img-responsive" />
			</div>
			<h1><%= partner.last %></h1>
			<p class="m-b-20">
				Participants
			</p>
			<br/>
			<br/>
		</div> 
        <% end %>
	</div>
</div>

<div class="inner-content" id="about-content">



	<h2 class="text-primary gf_oswald">All Partners</h2>
	<h5>Will you rise with them?</h5>
	<p>
		Your organization can join this groundbreaking effort by becoming a Rise Up campaign sponsor. Your pledge will make a bold statement about how much you value the future of Black men in America and the collective health of the entire Black community. There’s no greater opportunity than this to really make a difference.
	</p>

	<br/><br/>

	<div class="row">
        <% User.group_count.each do |partner| %>
		<div class="col-md-3 col-sm-6">
			<img src="<%= User.partner_photo[partner.first] %>" class="img-thumbnail img-responsive">
		</div>
        <% if false %>
          <h3><%= partner.last %></h3> <!-- use this for counts -->
        <% end %>
        <% end %>
	</div>

</div>


<div class="inner-content" id="contact-content">



	<h2 class="text-white m-b-10">Get Involved</h2>
	<h5 class="muted">Join us in making history.</h5>
	<div class="separator"></div>

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-lg-12">
	
			<!-- Contact form -->
    	<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

    		<div class="row">

          <!-- Full name -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Fist Name'" name="name" data-name="Name" required>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" name="name" data-name="Name" required>
            </div>
          </div>

          <!-- Company -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="company" class="form form-control" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'" name="company-name" data-name="Company Name" required>
            </div>
          </div>

          <!-- Phone -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" name="email-address" data-name="Email Address" required>
            </div>
          </div>

             <!-- E-mail -->
          <div class="col-xs-12 col-sm-6 col-lg-12">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" name="email-address" data-name="Email Address" required>
            </div>
          </div>

           <!-- City -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="company" class="form form-control" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" name="company-name" data-name="Company Name" required>
            </div>
          </div>

          <!-- State -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'" name="state" data-name="state" required>
            </div>
          </div>

      	</div>	

        	<!-- Button submit -->
        	<button type="submit" id="valid-form" class="btn btn-color">Let's Build Together</button>

        </form>
        <!-- /. Contact form -->
        
        <div id="block-answer">
				<div id="answer"></div>
			</div>

		</div>

	</div>
</div>
