<!DOCTYPE html>
<html lang="en-us" class="no-js">
	<%= render "main/partials/shared/head" %>

	<body>
		<%= render "main/partials/shared/nav" %>
    <section id="home-part" class="vegas-container right-home">
			<div class="overlay"></div>
		</section> <!-- CLOSE #home-part -->

		<section id="content-part" class="right-content">

      <div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
				<div style="position: relative;">
					<div class="row">

						<div class="col-xs-12 col-sm-12">

              <div class="">
								<h3 class="story-title center">Marino A. Bruce, PhD, MSRC, MDiv</h3>
							</div>

							<div class="padding_top_20px story_image">
								<%= image_tag("bio/bruce.png", class: "center-image img-responsive img-rounded box-shadow-ccc") %>
							</div>

							<div class="">
								<p class="story_txt left lead">
                  Dr. Marino A. Bruce, PhD, MSRC, MDiv is Associate Director of the Center for Research on Men’s Health and a Research Associate Professor of Medicine, Health, and Society at Vanderbilt University. He is a social and behavioral scientist with interests in the integration of the full range of health determinants, specifically for young African American males and their risk factors for chronic kidney disease and cardiovascular disease. His work has been funded by federal and state agencies and he is one of few sociologists to have published in all of the leading nephrology journals. Dr. Bruce’s current program of investigation explores the intersection of social, psychological, spiritual, and behavioral factors impacting the health of African American boys, adolescents and emerging adults. The primary objective of this scientific inquiry is to leverage the strengths of research-, community-, and faith-based approaches to improve the health of disadvantaged and disenfranchised males, their families, and their communities.
                </p>
							</div>

              <div class="col-sm-12 no_side_padding story_next_button">
                <div class="col-sm-6 no_side_padding">
                  <p class="pull-left back_arrow">
                    <%= link_to about_path, class: "skip_link" do %>
                      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                      Return to About Page
                    <% end %>
                  </p>
                </div>

                <div class="col-sm-6 no_side_padding">
                  <div class="col-sm-12 no_side_padding">
                    <%= link_to "Learn About Derek M. Griffith", bio_griffith_path, class: "btn btn-primary pull-right" %>
                  </div>
                </div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</section> <!-- CLOSE #content-part -->

	</body>

</html>
