<!DOCTYPE html>
<html lang="en-us" class="no-js">
	<%= render "main/partials/shared/head" %>

	<body>
		<%= render "main/partials/shared/nav" %>
    <section id="home-part" class="vegas-container right-home">
			<div class="overlay"></div>
		</section> <!-- CLOSE #home-part -->

		<section id="content-part" class="right-content">

      <div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
				<div style="position: relative;">
					<div class="row">

						<div class="col-xs-12 col-sm-12">

              <div class="">
								<h3 class="story-title center">Darrell J. Gaskin, Ph.D </h3>
							</div>

							<div class="padding_top_20px story_image">
								<%= image_tag("bio/gaskin.png", class: "center-image img-responsive img-rounded box-shadow-ccc") %>
							</div>

							<div class="">
								<p class="story_txt left lead">
                  Darrell J. Gaskin, PhD is the William C. and Nancy F. Richardson Professor of Health Policy and Director of the Hopkins Center for Health Disparities Solutions at the Johns Hopkins Bloomberg School of Public Health in the Department of Health Policy and Management.  He is an internationally known expert in health and healthcare disparities, access to care for vulnerable populations, and safety net hospitals.  He seeks to identify and understand barriers to care for vulnerable populations; to develop and promote policies and practices that improve access to care for the poor, minorities and other vulnerable populations; and to reduce and eliminate disparities in health and healthcare by race, ethnicity, socioeconomic status and geography.
                </p>

                <p class="story_txt left lead">
                  His Ph.D. is in public health economics from Johns Hopkins University. He holds a MS degree in economics from the Massachusetts Institute of Technology, and a BA degree in economics from Brandeis University.
                </p>
							</div>

              <div class="col-sm-12 no_side_padding story_next_button">
                <div class="col-sm-6 no_side_padding">
                  <p class="pull-left back_arrow">
                    <%= link_to about_path, class: "skip_link" do %>
                      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                      Return to About Page
                    <% end %>
                  </p>
                </div>

                <div class="col-sm-6 no_side_padding">
                  <div class="col-sm-12 no_side_padding">
                    <%= link_to "Learn About Dr. Bruce", bio_bruce_path, class: "btn btn-primary pull-right" %>
                  </div>
                </div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</section> <!-- CLOSE #content-part -->

	</body>

</html>
