<h1> Signin </h1> 

<%= form_for(@sign_in, url: sessions_path) do |form| %>
  
  <%= form.label :email %>
  <%= form.text_field :email %>
  
  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit %> 

<% end %>