<div class="row">
	<div class="col-xs-12 col-sm-12 col-lg-6 m-b-20 padding_top_20px">

		<div class="col-sm-12 text-center no_side_padding bio_name_heading padding_top_20px">
			<h4>Dr. Thomas Laveist</h4>
		</div>

		<%= image_tag("bio/laveist_cropped.jpg", class: "img-responsive img-rounded box-shadow-ccc center-image bio_about_image") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Dr. Laveist", bio_laveist_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-lg-6 m-b-20 padding_top_20px">

		<div class="col-sm-12 text-center no_side_padding bio_name_heading padding_top_20px">
			<h4>Dr. Roland Thorpe</h4>
		</div>

		<%= image_tag("bio/thorpe_cropped.png", class: "img-responsive img-rounded box-shadow-ccc center-image bio_about_image") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Dr. Thorpe", bio_thorpe_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-lg-6 m-b-20 padding_top_20px">

		<div class="col-sm-12 text-center no_side_padding bio_name_heading padding_top_20px">
			<h4>Charles P. Mouton</h4>
		</div>

		<%= image_tag("bio/mouton_cropped.png", class: "img-responsive img-rounded box-shadow-ccc center-image bio_about_image") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Mr. Mouton", bio_mouton_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-lg-6 m-b-20 padding_top_20px">

		<div class="col-sm-12 text-center no_side_padding bio_name_heading padding_top_20px">
			<h4>Dr. Harold W. Neighbors</h4>
		</div>

		<%= image_tag("bio/neighbors_cropped.png", class: "img-responsive img-rounded box-shadow-ccc center-image bio_about_image") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Dr. Neighbors", bio_neighbors_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-lg-6 m-b-20 padding_top_20px">

		<div class="col-sm-12 text-center no_side_padding bio_name_heading padding_top_20px">
			<h4>Daniel L. Howard</h4>
		</div>

		<%= image_tag("bio/howard_cropped.png", class: "img-responsive img-rounded box-shadow-ccc center-image bio_about_image") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Mr. Howard", bio_howard_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-lg-6 m-b-20 padding_top_20px">

		<div class="col-sm-12 text-center no_side_padding bio_name_heading padding_top_20px">
			<h4>Darrell J. Gaskin</h4>
		</div>

		<%= image_tag("bio/gaskin_cropped.png", class: "img-responsive img-rounded box-shadow-ccc center-image bio_about_image") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Mr. Gaskin", bio_gaskin_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-lg-6 m-b-20 padding_top_20px">

		<div class="col-sm-12 text-center no_side_padding bio_name_heading padding_top_20px">
			<h4>Dr. Marino A. Bruce</h4>
		</div>

		<%= image_tag("bio/bruce_cropped.png", class: "img-responsive img-rounded box-shadow-ccc center-image bio_about_image") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Dr. Bruce", bio_bruce_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-lg-6 m-b-20 padding_top_20px">

		<div class="col-sm-12 text-center no_side_padding bio_name_heading padding_top_20px">
			<h4>Derek M. Griffith</h4>
		</div>

		<%= image_tag("bio/griffith_cropped.png", class: "img-responsive img-rounded box-shadow-ccc center-image bio_about_image") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Mr. Griffith", bio_griffith_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
