<!-- header and description -->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="text-center">
			<div class="center">
				<h5 class="section-label">Institutions</h5>
			</div>
			<br/>
			<h2>Partner Institutions</h4>
			<p class="lead">This historic effort to better understand the health challenges facing Black men has the potential to dramatically improve health outcomes</p>
		</div>
	</div>
</div>

<br/>
<br/>


<!-- logos -->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-md-offset-1">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-lg-3">
				<%= image_tag("logos/1.jpg", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
				<%= image_tag("logos/gwas.jpg", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
				<%= image_tag("logos/naacp.jpg", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
				<%#= image_tag("logos/4.jpg", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
			</div>
		</div>
    
	</div>
</div>

		    <!-- <div class="col-xs-6 col-sm-6 col-lg-3">
                <%= image_tag("https://upload.wikimedia.org/wikipedia/en/thumb/7/7e/Formal_Seal_of_George_Washington_University%2C_DC%2C_USA.svg/274px-Formal_Seal_of_George_Washington_University%2C_DC%2C_USA.svg.png", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-3">
                <%= image_tag("https://upload.wikimedia.org/wikipedia/en/1/17/NAACP_logo_2010.png", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
            </div> -->