<div class="main-wrapper">
  <div class="sub_header bg_1 hero" style="background-image: url(<%= image_url("stock/7.jpg")%>);">
    <div class="zindex_wrapper">
    	<div id="intro_txt">
        <div class="row container">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
  			    <h1><strong>Brotherhood</strong> for health.</h1>
            <p>Thank your for joining our community. </p>
            <br/>
            <div class="center" style="display: block;">
              <div class="row">
                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                  <%= image_tag("icons/facebook.png", alt: "", class: "img-responsive")%>
                </span>
                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                  <%= image_tag("icons/twitter.png", alt: "", class: "img-responsive")%>
                </span>
                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                  <%= image_tag("icons/instagram.png", alt: "", class: "img-responsive")%>
                </span>
                <span class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                  <%= image_tag("icons/youtube.png", alt: "", class: "img-responsive")%>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
	   </div> <!--End sub_header -->
   </div>
 </div>
	<div class="container_gray_bg">
    <div class="container margin_60">
 			<div class="row">
        <div class="col-md-9">
           <div class="box_style_1" id="share_box">
              <%= form_for Share.new, remote: true do |f| %>
               <div class="form-group">
                 <label> I am </label>
                  <%= f.text_field :i_am %>
                </div>
               <div class="form-group">
                 <label> And </label>
                  <%= f.text_field :and %>
                </div>
               <%= f.submit %>
             <% end %>
           </div>
         </div>
           <div class="col-md-3">
            <h4><strong>Contact Us</strong></h4>
            <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum.</p>
           
            <div class="box_side"><h5>By Phone</h5> <i class="icon-phone"></i>
            <p> + 1 555 5555<br><small>Monday to Friday 9.00am - 6.00pm</small></p>
            </div>
     
            <div class="box_side"><h5>Consent Policy</h5> <i class="icon_pencil-edit"></i>
            <p><a href="#0"><strong>Download the application form</strong></a>,
            <br> HIPAA Complianct<br><br>
          </p>
					</div>
 					<hr class="styled">
          <div class="box_side"><h4>Share your Story</h4> <i class="icon_pencil-edit"></i>
	          <p>Per eu esse deleniti scripserit, sed ut nihil inimicus sadipscing. Eu iusto ignota officiis sit, nullam ullamcorper eam ut. </p>
	          <a href="#0" class="button small">Share Now</a>
					</div>
        </div>
      </div><!--End row -->
    </div><!--End container -->
  </div><!--End container_gray_bg -->
  
	<div class="container margin_60">
	  <div class="main_title">
    	<h2>Frequently Asked Questions</h2>
    	<p>We appreciate your participation. Have questions? Learn more below.</p>
    </div>
  	<div class="row">
      <div class="col-md-4">
      	<div class="box_style_2">
      	  <h4>How is my personal information used?</h4>
          <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint graeco detraxit, posse exerci volutpat has in.</p>
       	</div>
      </div>
      <div class="col-md-4">
      	<div class="box_style_2">
      		<h4>Will I be contact by third-parties?</h4>
          <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint graeco detraxit, posse exerci volutpat has in.</p>
       	</div>
      </div>
      <div class="col-md-4">
      	<div class="box_style_2">
      		<h4>Are my survey results private?</h4>
          <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint graeco detraxit, posse exerci volutpat has in.</p>
       	</div>
      </div>
  	</div><!--End row -->
  	<div class="row">
      <div class="col-md-4">
      	<div class="box_style_2">
      		<h4>Why are you asking for more information?</h4>
          <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint graeco detraxit, posse exerci volutpat has in.</p>
       </div>
      </div>
      <div class="col-md-4">
      	<div class="box_style_2">
      		<h4>What is the long-term goal of the survey?</h4>
          <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint graeco detraxit, posse exerci volutpat has in.</p>
       </div>
      </div>
      <div class="col-md-4">
      	<div class="box_style_2">
      		<h4>How is this study creating impact?</h4>
          <p>Zril causae ancillae sit ea. Dicam veritus mediocritatem sea ex, nec id agam eius. Te pri facete latine salutandi, scripta mediocrem et sed, cum ne mundi vulputate. Ne his sint graeco detraxit, posse exerci volutpat has in.</p>
       	</div>
      </div>
  	</div><!--End row -->
  </div><!--End container -->


  <div class="grid ">
    <ul class="magnific-gallery">
    <li>
      <figure>
        <%= image_tag("stock/9.jpg", atl: "") %>
        <figcaption>
        <div class="caption-content">
          <a href="img/gallery/large/pic_8.jpg" title="Photo title">
            <i class="pe-7s-albums"></i>
            <p>Your caption</p>
          </a>
        </div>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <%= image_tag("stock/11.jpg", atl: "") %>
        <figcaption>
        <div class="caption-content">
          <a href="img/gallery/large/pic_9.jpg" title="Photo title">
            <i class="pe-7s-albums"></i>
            <p>Your caption</p>
          </a>
        </div>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <%= image_tag("stock/17.jpg", atl: "") %>
        <figcaption>
        <div class="caption-content">
          <a href="img/gallery/large/pic_10.jpg" title="Photo title">
            <i class="pe-7s-albums"></i>
            <p>Your caption</p>
          </a>
        </div>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <%= image_tag("stock/16.jpg", atl: "") %>
        <figcaption>
        <div class="caption-content">
          <a href="img/gallery/large/pic_1.jpg" title="Photo title">
            <i class="pe-7s-albums"></i>
            <p>Your caption</p>
          </a>
        </div>
        </figcaption>
      </figure>
    </li>
    </ul>
  </div>
        
	 <div class=" container_gray_bg " id="newsletter_container">
    <div class="container margin_60">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3>Invite Friends and Family to participate.</h3>
          <div id="message-newsletter"></div>
          <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
            <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Enter Email" class="form-control">
            <button id="submit-newsletter" class="button"> Invite</button>
          </form>
        </div>
      </div>
    </div>
  </div><!-- End newsletter_container -->
</div>

