<div class="sub_header_contact_home hero">
  <div class="zindex_wrapper">
    <div id="intro_txt">
      <div class="container">
        <h1>Join the Movement</h1>
        <p>Sign up below to get started.</p>
        <br/>
        <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
        <%= form_for @user, url: users_path do |form| %>
      <div id="message-contact-home"></div>
      <form method="post" action="assets/contact_home.php" id="contactform_home">
        
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.text_field :first_name, class: "form-control form-white",placeholder:"First Name" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.text_field :last_name, class: "form-control form-white", placeholder:"Last Name" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.text_field :email, class: "form-control form-white", placeholder:"Email" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.password_field :password, type: "password", class: "form-control form-white", placeholder:"Password" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="styled-select-contact-home">
                <%= form.select :state, Location.states, class:"form-control", name:"", id:"" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="styled-select-contact-home">
                <%= form.select :education, education, class:"form-control", name:"", id: "" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.text_field :birthdate, class: "form-control form-white", placeholder: "Birthday" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-center">
              <%= form.submit "Participate", type: "submit", class: "btn btn-primary button btn-lg", id: "submit-contact-home" %> 
            </div>
          </div>
        </div>
      </form>
      </div>
        <%end%>
      </div>
        </div>
      </div>
    </div>
  </div>
</div> <!--End sub_header -->

        
  
 <!-- Login modal -->   
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-popup">
        <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
        <form action="#" class="popup-form" id="myLogin">
          <input type="text" class="form-control form-white" placeholder="Username">
          <input type="text" class="form-control form-white" placeholder="Password">
          <div class="checkbox-holder text-left">
            <div class="checkbox">
              <input type="checkbox" value="accept_1" id="check_1" name="check_1" />
              <label for="check_1"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
            </div>
          </div>
          <button type="submit" class="btn btn-submit">Submit</button>
        </form>
      </div>
    </div>
  </div>  
    
<!-- Register modal -->   
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-popup">
        <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
        <form action="#" class="popup-form" id="myRegister">
          <input type="text" class="form-control form-white" placeholder="Name">
          <input type="text" class="form-control form-white" placeholder="Last Name">
                    <input type="email" class="form-control form-white" placeholder="Email">
                    <input type="text" class="form-control form-white" placeholder="Password">
          <div class="checkbox-holder text-left">
            <div class="checkbox">
              <input type="checkbox" value="accept_2" id="check_2" name="check_2" />
              <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
            </div>
          </div>
          <button type="submit" class="btn btn-submit">Register</button>
        </form>
      </div>
    </div>
  </div>
    
  <!-- Search modal -->   
 <div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" >
        <button type="submit" class="button">Search</button>
    </form>
</div>
    
<!-- Common scripts -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/common_scripts_min.js"></script>
<script src="js/functions.js"></script>
<script src="assets/validate.js"></script>

<!-- Specific scripts -->
<script src="layerslider/js/greensock.js"></script>
 <script src="layerslider/js/layerslider.transitions.js"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    'use strict';
        $('#layerslider').layerSlider({
            autoStart: true,
      responsive: true,
      responsiveUnder: 1280,
      layersContainer: 1170,
            skinsPath: 'layerslider/skins/'
            // Please make sure that you didn't forget to add a comma to the line endings
            // except the last line!
        });
    });
</script>
<script src="js/tabs.js"></script>
<script>new CBPFWTabs( document.getElementById( 'tabs' ) );</script>
</body>
