<div class="sub_header_contact_home hero" style="background-image: url(<%= image_url("stock/6.jpg")%>);">
  <div class="zindex_wrapper">
    <div id="intro_txt">
      <div class="container">
        <h1>Join the Movement</h1>
        <p>Sign up below to get started.</p>
        <br/>
        <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
        <%= form_for @user, url: users_path do |form| %>
      <div id="message-contact-home"></div>
      <form method="post" action="assets/contact_home.php" id="contactform_home">
        
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.text_field :first_name, class: "form-control form-white",placeholder:"First Name" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.text_field :last_name, class: "form-control form-white", placeholder:"Last Name" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.text_field :email, class: "form-control form-white", placeholder:"Email" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <%= form.password_field :password, type: "password", class: "form-control form-white", placeholder:"Password" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="styled-select-contact-home">
                <%= form.select :state, Location.states, class:"form-control", name:"", id:"" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="styled-select-contact-home">
                <%= form.select :education, education, class:"form-control", name:"", id: "" %>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p class="text-left no_margin_bottom">
            <label class="text-small"> What is your birthday?</label>
          </p>
          <div class="row">
            <div class="col-lg-5 col-md-4 col-sm-12">
              <div class="form-group">
                <div class="styled-select-contact-home">
                   <%=  select_tag "[user][birthdate(2i)]", options_for_select(months_for_select) %>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="form-group">
                <div class="styled-select-contact-home">
                   <%=  select_tag "[user][birthdate(3i)]", options_for_select(days_for_select) %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                <div class="styled-select-contact-home">
                   <%=  select_tag "[user][birthdate(1i)]", options_for_select(years) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-center">
              <%= form.submit "Participate", type: "submit", class: "btn btn-primary button btn-lg", id: "submit-contact-home" %> 
            </div>
          </div>
        </div>
      </form>
      </div>
        <%end%>
      </div>
        </div>
      </div>
    </div>
  </div>
</div> <!--End sub_header -->
