<%
	census_header = ''
	path_info = request.env['PATH_INFO']
	if path_info.include?('/admin/')
		census_header = 'census-header'
	end
	
	my_string = path_info
	if my_string.include? "posts"
	   census_header = 'census-header'
	end
		
%>

<header class="<%= census_header%>">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div id="logo">
          
        </div>
      </div>
      <nav class="col-md-9 col-sm-9 col-xs-9">
		<%
			if path_info != '/login' && path_info != '/participate'
		%>
			<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>	
		<%
			end
		%>
	  
      <div class="main-menu">
        <div id="header_menu">
          <img src="img/logo_mobile.png" width="125" height="40" alt="Atena" data-retina="true">
        </div>
        <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
        <ul>
          <% if current_user %>
            <li><%= link_to "Admin Panel", "/admin" if current_user.admin? %></li>
            <% if current_user.completed_all_surveys? %>
            <li><%= link_to "My Results", results_path %></li>
            <% else %>
            <li><%= link_to "My Surveys", surveys_path %></li>
            <% end %>
            <li><%= link_to "My Information", settings_path %></li>
            <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
            <li class="user-info">
              <i class="pe-7s-user"></i> <%= current_user.first_name %> <%= current_user.last_name %>
            </li>
            <li></li>
          <% else %>
            <!-- li class="login">
              <%#= link_to "Already have an account? Login",  login_path %>
            </li> -->
          <% end %>
        </ul>
      </div><!-- End main-menu -->
      </nav>
    </div>
  </div><!-- container -->
</header><!-- End Header -->

<script>
	$( ".cmn-toggle-switch__htx.open_close" ).click(function() {
		$(".main-menu").toggleClass('open');
	});
	$( ".icon_close" ).click(function() {
		$(".main-menu").toggleClass('open');
	});
</script>
