Welcome <%= current_user.first_name %>, </br>

<!-- <h3><%#= current_user.surveys_completed %>/5 Completed</h3> -->

<%= link_to "Health Status", status_surveys_path %> -- Completed: <%#= current_user.completed_survey?("Status") %> </br>
<%= link_to "Health Services", services_surveys_path %> -- Completed: <%#= current_user.completed_survey?("Services") %> </br>
<%= link_to "Health Behavior", behavior_surveys_path %> -- Completed: <%#= current_user.completed_survey?("Behavior") %></br>
<%= link_to "Psycho-Social Factors", psychosocial_surveys_path %> -- Completed: <%#= current_user.completed_survey?("Psycho Social") %></br>
<%= link_to "Closing", closing_surveys_path %> -- Completed: <%#= current_user.completed_survey?("Closing") %></br>

<a class="typeform-share button" href="https://wildfyre.typeform.com/to/vQ03Un?id=xxxxx&first=xxxxx" data-mode="1" target="_blank">Launch me!</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
