<div class="sub_header bg_2 hero">
  <div class="zindex_wrapper">
    <div id="intro_txt">
      <div class="row container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>You are the <strong>example</strong>.</h1>
          <p>Thank you for participating!</p>
          <br/>
          <div class="center" style="width: 100%;">
            <div class="circle-bg">
              <h1><strong>4</strong></h1>
              <h4>Surveys Remaining</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!--End sub_header -->
 
<div class="container_gray_bg">
  <div class="container margin_60">
    <div class="main_title">
      <h2>5 Survey Sections</h2>
      <p>Each section must be completed in one sitting.</p>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <%= link_to status_surveys_path, class: "box_feat" do %>
          <i class="pe-7s-diamond"></i>
          <h3>Health Status</h3>
          <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.</p>
          <%#= current_user.completed_survey?("Status") %>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4">
        <%= link_to services_surveys_path, class: "box_feat" do %>
          <i class="pe-7s-display2"></i>
          <h3>Health Services</h3>
          <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.</p>
          <%#= current_user.completed_survey?("Services") %>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4">
        <%= link_to behavior_surveys_path, class: "box_feat" do %>
          <i class="pe-7s-science"></i>
          <h3>Health Behavior</h3>
          <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.</p>
          <%#= current_user.completed_survey?("Behavior") %>
        <% end %>
      </div>
    </div><!--End row-->
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <%= link_to psychosocial_surveys_path, class: "box_feat" do %>
          <i class="pe-7s-rocket"></i>
          <h3>Psycho-Social Factors</h3>
          <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.</p>
          <%#= current_user.completed_survey?("Psycho Social") %>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4">
        <%= link_to closing_surveys_path, class: "box_feat" do %>
          <i class="pe-7s-target"></i>
          <h3>Closing</h3>
          <p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.</p>
          <%#= current_user.completed_survey?("Closing") %>
        <% end %>
      </div>
    </div><!--End row-->
    <br>
  </div><!--End container -->
  </div><!--End bg_gray_container -->
    
  <div class="container margin_60">
    <div class="main_title">
      <h2>Help us make this survey counts!</h2>
      <p>
         Survey overview and guidelines.
      </p>
    </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
            <h3>Why a Black Men's Health Study?</h3>
            <p>
              His nonumes maluisset delicatissimi ut, <strong>no ius odio putent vocibus</strong>. Oratio quidam essent his ei, at animal argumentum nam. Sale inani sapientem sit at. Quo an vocent mediocritatem, eu natum argumentum pri. Deleniti invenire his ei, ut mei liber ancillae, pri et fugit interpretaris. Quod unum democritum per no, nam nostrud conclusionemque ad.
            </p>
            <p>
              His nonumes maluisset delicatissimi ut, no ius odio putent vocibus. Oratio quidam essent his ei, at animal argumentum nam. Sale inani sapientem sit at. Quo an vocent mediocritatem, eu natum argumentum pri. Deleniti invenire his ei, ut mei liber ancillae, pri et fugit interpretaris. Quod unum democritum per no, nam nostrud conclusionemque ad.
            </p>
            <div class="row">
              <div class="col-md-5">
                <ul class="list_4">
                  <li>Putent vocibus</li>
                  <li>Inani sapientem sit</li>
                  <li>Nonumes maluisset delicatissimi</li>
                </ul>
              </div>
              <div class="col-md-5">
                <ul class="list_4">
                  <li>Putent vocibus</li>
                  <li>Inani sapientem sit</li>
                  <li>Nonumes maluisset delicatissimi</li>
                </ul>
              </div>
            </div><!-- end row -->
            <h3>Founders and Directors</h3>
            <p>
              His nonumes maluisset delicatissimi ut, no ius odio putent vocibus. Oratio quidam essent his ei, at animal argumentum nam. Sale inani sapientem sit at. Quo an vocent mediocritatem, eu natum argumentum pri. Deleniti invenire his ei, ut mei liber ancillae, pri et fugit interpretaris.
            </p>
            <ul class="list_staff">
              <li>
                <figure>
                  <%= image_tag("http://www.mmc.edu/assets/images/rwjf_img/mugs/nat_schol/rwjf_laveist.jpg", class: "img-circle") %>
                </figure>
              <h5>Dr. LaViest</h5>
              <p>Co-Founder</p>
              </li>
              <li>
                <figure>
                  <%= image_tag("http://www.purdue.edu/aging/images/alumni-thorpe.jpg", class: "img-circle") %>
                </figure>
                <h5>Dr. Thorpe</h5>
                <p>Co-Founder</p>
              </li>
              <li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box_style_4">
            <h4>Mission</h4>
            <p>
              Sale inani sapientem sit at. Quo an vocent mediocritatem, eu natum argumentum pri. Deleniti invenire his ei, ut mei liber ancillae, pri et fugit interpretaris.
            </p>
            <ul class="list_order">
              <li><span>1</span>At errem clita officiis sed</li>
              <li><span>2</span>Sale inani sapientem sit at</li>
              <li><span>3</span>Deleniti invenire his ei</li>
              <li><span>4</span>Quod unum democritum per no</li>
              <li><span>5</span>Oportere efficiendi eu vim</li>
            </ul>
          </div>
        </div>
      </div><!--End row -->
    </div>
  </div>

  <div class=" container_gray_bg" id="newsletter_container">
    <div class="container margin_60">
      <div class="row">
        <div class="col-md-6 text-center">
          <h3>Invite a brother.</h3>
          <div id="message-newsletter"></div>
          <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
            <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Enter Email" class="form-control">
            <button id="submit-newsletter" class="button"> Invite</button>
          </form>
        </div>
        <div class="col-md-6 text-center">
          <h3>Share your stories.</h3>
          <div id="message-newsletter"></div>
          <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
            <input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Enter Email" class="form-control">
            <button id="submit-newsletter" class="button"> Invite</button>
          </form>
        </div>
      </div>
    </div>
  </div><!-- End newsletter_container -->

  <div class="container margin_60">
    <div class="main_title">
      <h2>Read Stories</h2>
      <p>
         Hear brothers share their experiences in health.
      </p>
    </div>

    <div class="grid">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <p>
            <%= image_tag("stock/9.jpg", class: "img-responsive", alt: "") %>
          </p>
          <h4>Creating a New Legacy</h4>
          <p>Lorem ipsum dolor sit amet, ne vis suas harum nonumy, at enim vocent delicatissimi eos, vocent inermis veritus mel no. Vix in offendit forensibus cotidieque. 
          </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <p>
            <%= image_tag("stories/1.jpg", class: "img-responsive", alt: "") %>
          </p>
          <h4>Take Better Care of Myself</h4>
          <p>Lorem ipsum dolor sit amet, ne vis suas harum nonumy, at enim vocent delicatissimi eos, vocent inermis veritus mel no. Vix in offendit forensibus cotidieque. </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <p>
            <%= image_tag("stock/16.jpg", class: "img-responsive", alt: "") %>
          </p>
          <h4>Rediscovering My Inner-Athlete</h4>
          <p>Lorem ipsum dolor sit amet, ne vis suas harum nonumy, at enim vocent delicatissimi eos, vocent inermis veritus mel no. Vix in offendit forensibus cotidieque. </p>
          </div>
        </div><!--End row -->
      </div><!--End container -->
    </div>
  </div>

