

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Surveys Completed</th>
        <th>Age</th>
        <th>Education</th>
        <th>State</th>
        <th>Eligible?</th>
        <th>Manage</th>

    </tr>
    <% @users.each do |user|%>
    <tr id="user-<%=user.id%>">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= "2/5" %></td>
        <td><%= user.age %></td>
        <td><%= user.education %></td>
        <td><%= user.state %></td>
        <td><%= user.eligible? ? "Yes" : "No" %></td>
        <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
        <td><%= link_to "Delete", admin_user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user?"}, remote: true %></td>

    </tr>
    <% end %>
</table>

