<div class="inner-content no-padding">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>

		<%= render "main/partials/home/home_hero" %>

	</div>
</div>



<div class="inner-content border-top relative">
	<div class="center">
		<h5 class="section-label">
			rise up today
		</h5>
	</div>
	<!-- introduction -->

	<br/><hr/>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<h2 class="no-margin bold">Why is this study so important?</h2>
		</div>
		<!-- introduction -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<p class="lead m-t-10">The collective health of Black men in America has never before been a priority in the medical community. Let’s be honest, far too often it hasn’t been.</p>
		</div>
	</div>
	<hr class="thick">
</div>

<div class="header-hero border-top relative">
	<div class="overlay overlay-dark"></div>
	<div style="background: url(img/stock/16.jpg); background-size: cover;">
		<div class="row">
			<div class="col-md-12">
				<div class="left">
					<h5 class="section-label no-margin text-white">
						let's get started
					</h5>
				</div>
				<div class="inner-content">
					<%= render "main/partials/home/introduction" %>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="inner-content border-top relative">
	<div class="center">
		<h5 class="section-label">
			rise up today
		</h5>
	</div>
	<!-- introduction -->

	<br/><hr/>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
			<h1>our stories</h1>
		</div>
		<!-- introduction -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
			<p class="">From breaking the cycle of fearing doctors’ to catching life threatening illnesses early, Black men of all ages around the nation are embracing personal responsibility by taking ownership of their health.</p>
		</div>
	</div>
	<hr class="thick">
</div>

<div class="inner-content no-padding bgcolor-light-grey">
	<%= render "main/partials/home/stories" %>
</div>

	<div class="inner-content border-top">
		<div style="position: relative;">
			<div class="center">
				<h5 class="section-label">
					Together We Rise
				</h5>
			</div>
			<br/><br/>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<h1>	Share Your Personal Story Rising Up!</h1>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<p>Social media will play a major role in our effort to spread word of the Black Men’s Health Study, so we are encouraging Black men across the nation to share your personal stories of embracing healthy lifestyles via Facebook, Twitter and Instagram. </p>

					<p>Take a minute to tell your story using our I Rise For… social generator and tell the world about the people, community or movement that you live for.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render "main/partials/share/share_your_story" %>
<%= render "main/partials/shared/modal" %>

