<div class="inner-content no-padding">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>

		<%= render "main/partials/home/home_hero" %>

	</div>
</div>



<div class="inner-content border-top relative padding-50">
	<div class="center">
		<h5 class="section-label">
			rise up today
		</h5>
	</div>
	<!-- introduction -->

	<hr/>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<h2 class="no-margin bold"><small>Why is this</small>
				<br/> important?</h2><!-- 
				<h2 class="no-margin bold">Why is this study so important?</h2> -->
		</div>
		<!-- introduction -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<p class="lead m-t-10">Let’s be honest, the collective health of Black men in America has never before been a priority in the medical community. It's time!</p>
		</div>
	</div>
	<hr class="thick">
</div>

<div class="header-hero border-top relative">
	<div class="overlay overlay-dark"></div>
	<div style="background: url(img/stock/16.jpg); background-size: cover;">
		<div class="relative">
			<div class="center">
				<h5 class="section-label no-margin text-white no-border">
					let's get started
				</h5>
			</div>
			<div class="inner-content no-padding">
				<br/><br/><br/>
				<%= render "main/partials/home/introduction" %>
				<br/><br/><br/>
			</div>
		</div>
	</div>
</div>



<div class="inner-content border-top relative">
	<div class="center">
		<h5 class="section-label">
			Our Stories
		</h5>
	</div>
	<!-- introduction -->

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<h2 class="no-margin bold"><small>telling</small>
				<br/>our stories</h2><!-- 
				<h2 class="no-margin bold">Why is this study so important?</h2> -->
		</div>
		<!-- introduction -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<p class="lead m-t-10">From breaking the cycle of fearing doctors’ to catching life threatening illnesses early, Black men of all ages around the nation are embracing personal responsibility by taking ownership of their health.</p>
		</div>
	</div>
	<hr class="thick">
</div>

<div class="inner-content no-padding bgcolor-light-grey">
	<%= render "main/partials/home/stories" %>
</div>

	<div class="inner-content border-top">
		<div style="position: relative;">
			<div class="center">
				<h5 class="section-label">
					Together We Rise
				</h5>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<h2 class="no-margin bold"><small>Share Your Story</small></h2>
					<h1>Rising Up!</h1>
				</div>
			</div>
			<div class="row">
				<!-- introduction -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<p class="lead m-t-10">Social media will play a major role in our effort to spread word of the Black Men’s Health Study, so we are encouraging Black men across the nation to share your personal stories of embracing healthy lifestyles via:</p>
					[Facebook, Twitter and Instagram.]
				</div>
			</div>
		</div>
	</div>
</div>

<%= render "main/partials/share/share_your_story" %>
<%= render "main/partials/shared/modal" %>

