<!DOCTYPE html>
<html>
	<head>
    <meta content = '<%= @share.full_message %>' property= "og:title" />
    <meta content = '<%= share_url(@share) %>' property= "og:url" />
    <meta content = '<%= @share.message %>' property= "og:description" />
    <meta content = '<%= @share.photo.url %>' property= "og:image" />
    <meta content = '<%= @share.width %>' property= "og:image:width" />
    <meta content = '<%= @share.height %>' property= "og:image:height" />
	</head>
</html>
<body>
  <img src='<%=@share.photo.url%>' width="<%= @share.width %>" height="<%= @share.height %>"/>
</body>
